@import '../../styles/base';
@import '../../styles/animation';

$color-secondary: var(--color-secondary);
$color-cta: var(--color-cta);
$color-cta-lighten: var(--color-cta-lighten);

$base-font: var(--base-font);

.btn {
  display: inline-block;
  width: 90%;
  border: none;
  padding: 1.25rem 2rem;
  margin: 4rem auto 0 auto;
  background: $color-cta;
  cursor: pointer;
  text-align: center;
  border-radius: 10px;
  box-shadow: 0 20px 40px rgba(0, 0, 0, 0.15);

  transition: background 250ms ease-in-out, transform 150ms ease;

  &:hover,
  &:focus {
    background: $color-cta-lighten;
  }

  &:focus {
    outline: $color-cta;
    animation: pulsate 1s infinite;
  }

  &:active {
    transform: scale(0.99);
  }

  &Text {
    text-decoration: none;
    color: rgba(255, 255, 255, 0.75);
    font-family: $base-font;
    font-weight: 700;
    font-size: 2.4rem;
    text-transform: uppercase;
  }
}
