@import '../../styles/base';

.figurenImagesBox {
  display: grid;
  align-self: center;
  grid-template-columns: repeat(3, 1fr);
  align-items: end;
  width: 100%;
  max-width: 80rem;

  img {
    width: 100%;
    height: auto;
  }

  figure figcaption {
    text-align: center;
    visibility: hidden;

    @media only screen and (min-width: $bp-smallest) {
      visibility: visible;
    }
  }
}

.Figur0 {
  @media only screen and (min-width: $bp-smallest) {
    transform: translateX(9rem);
  }

  figcaption {
    transform: translateX(-9px);
    position: relative;
    z-index: -1;
  }
}

.Figur1 {
  figcaption {
    transform: translateX(1.2rem);
    position: relative;
    z-index: -1;
  }
}

.Figur2 {
  @media only screen and (min-width: $bp-smallest) {
    transform: translateX(-9rem);
  }

  figcaption {
    position: relative;
    z-index: -1;
  }
}
