@import '../../styles/base';

$color-white: var(--color-white);
$color-whiteRGBA: rgba(254, 254, 254, 0.8);
$color-tertiary: var(--color-tertiary);

.content {
  margin-top: -3rem;
  margin-bottom: -5rem;
  background-color: rgba(254, 254, 254, 0.2);
  box-shadow: 0 0 153px rgba(254, 254, 254, 0.4);
}

.hero {
  display: grid;
  grid-template-rows: 1fr 1fr 1fr 1fr 2fr;
  grid-template-columns: min-content 1fr;
  grid-row-gap: 1rem;
  align-items: center;
  height: 30vh;
}

.title {
  font-size: 7vw;
  margin-bottom: 0;
  padding: 1rem;
  grid-column: 1 / 2;
  grid-row: 2 / 3;
  z-index: 2;
  background-color: $color-whiteRGBA;
}

.datum {
  padding: 1rem;
  grid-column: 1 / 2;
  grid-row: 3 / 4;
  z-index: 2;
  background-color: $color-whiteRGBA;

  p {
    color: $color-tertiary;
    text-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  }
}

.uhrzeit {
  grid-column: 1 / 2;
  grid-row: 4 / 5;
  z-index: 2;
  background-color: $color-whiteRGBA;
}

.img {
  grid-column: 1 / 3;
  grid-row: 1/ 6;
  width: 100vw;
  height: 100%;
}

.description > div {
  padding-left: 1rem;
}

.quickView {
  list-style: none;
  background-image: linear-gradient(to right, #025753, #036f6a);

  &Title,
  &Date,
  &Time,
  &LokationName {
    display: flex;
    align-items: center;
    padding: 0.5rem;
    font-size: 1.8rem;
    font-family: $base-font;

    max-width: 70ch;

    p {
      color: $color-white;
    }

    p:not(:first-child) {
      padding-left: 1rem;
    }
  }
}

.googleMap {
  height: 40rem;

  > div {
    position: relative;
    overflow: hidden;
    width: 100vw;
    height: 100%;
  }
}
