@import '../../styles/base';

.termine {
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
  grid-gap: 1rem;
  margin-left: 0;
  @media only screen and (min-width: $bp-smallest) {
    margin-left: 2rem;
  }
}
