:root {
  --color-primary: #025753;
  --color-secondary: #f0be2a;
  --color-tertiary: #a5534b;

  --color-white: #f4f4f4;
  --color-grey-dark: #333;
  --color-grey-medium: #707070;

  --base-font: 'Noto Sans', sans-serif;
}
