@import '../styles/base';

$color-primary: var(--color-primary);
$color-secondary: var(--color-secondary);
$color-white: var(--color-white);

.brauchtumInSchönsterForm {
  font-size: 1.8rem;
  width: 60vw;
  margin-bottom: 3rem;
}

.h2 {
  font-size: 6.4rem;
  color: $color-secondary;
  margin-bottom: 7rem;

  &Span {
    font-size: 6.4rem;
    font-style: italic;
    font-weight: 400;
    color: $color-primary;
    margin-top: -1rem;
  }
}

.terminSection {
  background-color: $color-secondary;
  background-clip: padding-box;
  color: $color-white;

  p {
    color: $color-white;
  }

  & > * {
    padding-left: 1rem;
    padding-right: 1rem;
  }

  &:before,
  &:after {
    content: '';
    height: 100%;
  }
  &:before {
    position: absolute;
    left: 0px;
    transform: translateY(-4.1rem);
    display: block;
    width: 100vw;
    background-color: $color-secondary;
    z-index: -1;
  }
}

.kontaktSection {
  background-color: $color-primary;
  background-clip: padding-box;
  color: $color-secondary;

  &:before,
  &:after {
    content: '';
    height: 100%;
  }
  &:before {
    position: absolute;
    left: 0px;
    transform: translateY(-4rem);
    display: block;
    width: 100vw;
    background-color: $color-primary;
    z-index: -1;
  }

  &P,
  &H3 {
    color: $color-secondary;
  }

  &P {
    padding-right: 5rem;
    padding-left: 3rem;
  }

  &H3 {
    display: flex;
    flex-direction: column;
    font-size: 9.4rem;
    padding-left: 1rem;
    padding-right: 1rem;

    &Span {
      font-size: 4.7rem;
      margin-left: 5px;
    }
  }
}
