@import '../styles/base';

.pageKontakt {
  h3 {
    font-size: 1.8rem;
    margin-bottom: 0;
  }

  div {
    display: flex;
    flex-direction: column;
  }

  div > :last-child {
    margin-bottom: 2rem;
  }
}
