@import '../styles/base';

$color-secondary: var(--color-secondary);

.h2Span {
  font-size: 9.4rem;
}

.sectionTermine {
  background-color: $color-secondary;

  > div {
    margin: unset;
  }
}

.content {
  align-self: flex-start;
  width: 93vw;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
}
