@import '../styles/base';

$color-secondary: var(--color-secondary);

.h2Span {
  font-size: 9.4rem;
}

.termine {
  margin-left: 2rem;
}

.sectionTermine {
  background-color: $color-secondary;
}

.content {
  align-self: flex-start;
}
