@import '../../styles/base';

$color-secondary: var(--color-secondary);
$color-tertiary: var(--color-tertiary);

.footer {
  background-color: $color-tertiary;
  padding: 3rem 1rem;
  border-top: 5px solid $color-secondary;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.205);
}
