@import '../../styles/base';
@import '../../styles/animation';

$color-secondary: var(--color-secondary);
$color-white: var(--color-white);

.galerieWrapper {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(100%, 1fr));
  grid-gap: 1rem;
  margin: 0;

  @media only screen and (min-width: $bp-smallest) {
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  }
}
