@import '../../styles/base';

$color-primary: var(--color-primary);

// $IconThickness: 5px;
$IconThicknessBPSmallest: 5px;
$IconThickness: 3px;
$IconGap: 0;
// $IconTranslate: -7px;
$IconTranslate: -10px;

.IconBox {
  top: 0;
  right: 0;
  z-index: 2000;
  width: 2rem;
  height: 2rem;
  display: flex;
  align-items: center;
  border: 0;
  background: none;
  outline: none;
  padding: 0;
  cursor: pointer;
  text-align: center;

  @media only screen and (min-width: $bp-smallest) {
    display: flex;
    align-items: center;
    width: 5rem;
    height: 5rem;
  }
}

// mitte
.Icon {
  position: relative;
  display: inline-block;
  border-bottom: $IconThickness solid $color-primary;
  width: 20px;
  transition: all 0.5s ease-in-out;

  @media only screen and (min-width: $bp-smallest) {
    width: 45px;
    border-bottom: $IconThicknessBPSmallest solid $color-primary;
  }

  // oben
  &::before {
    content: '';
    display: block;
    position: absolute;
    // top: -14px;
    top: -4px;
    // width: 30px;
    width: 10px;
    z-index: 2000;
    border-bottom: $IconThickness solid $color-primary;
    margin-bottom: $IconGap;
    transform: rotate(-45deg);
    transition: all 0.5s ease-in-out;

    @media only screen and (min-width: $bp-smallest) {
      border-bottom: $IconThicknessBPSmallest solid $color-primary;
      top: -12px;
      left: -2px;
      width: 30px;
    }
  }

  // unten
  &::after {
    content: '';
    display: block;
    position: absolute;
    // top: 14px;
    top: 4px;
    width: 10px;
    border-bottom: $IconThickness solid $color-primary;
    margin-bottom: $IconGap;
    transform: rotate(45deg);
    transition: all 0.5s ease-in-out;

    @media only screen and (min-width: $bp-smallest) {
      border-bottom: $IconThicknessBPSmallest solid $color-primary;
      top: 12px;
      left: -2px;
      width: 30px;
    }
  }
}
